:root {
    --color-logo: var(--color-main);
}

@media (prefers-color-scheme: light) {
    .appbar {
        --color-logo: var(--color-on-appbar);
    }
}

.logo::before {
    content: "Xau";
    font-weight: 500;
}

.logo::after {
    content: "Fome";
    font-weight: 400;
}

.logo.color::after {
    color: rgb(var(--color-logo));
}
