:root {
    font-family: Roboto, sans-serif;
    font-size: 1rem;
    line-height: 1rem;
    font-weight: 400;
    letter-spacing: 0.03125em;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: inherit;
    font-size: inherit;
}

.h1 {
    font-size: 6rem;
    line-height: 6rem;
    font-weight: 300;
    letter-spacing: -0.015625em;
}

.h2 {
    font-size: 3.75rem;
    line-height: 3.75rem;
    font-weight: 300;
    letter-spacing: -0.00833333333333em;
}

.h3 {
    font-size: 3rem;
    line-height: 3rem;
    font-weight: 400;
    letter-spacing: 0em;
}

.h4 {
    font-size: 2.125rem;
    line-height: 2.125rem;
    font-weight: 400;
    letter-spacing: 0.00735294117em;
}

.h5 {
    font-size: 1.5rem;
    line-height: 1.5rem;
    font-weight: 400;
    letter-spacing: 0em;
}

.h6 {
    font-size: 1.25rem;
    line-height: 1.25rem;
    font-weight: 500;
    letter-spacing: 0.0075em;
}

.subtitle1 {
    font-size: 1rem;
    line-height: 1rem;
    font-weight: 400;
    letter-spacing: 0.009375em;
}

.subtitle2 {
    font-size: 0.875rem;
    line-height: 0.875rem;
    font-weight: 500;
    letter-spacing: 0.00714285714em;
}

.body1 {
    font-size: 1rem;
    line-height: 1rem;
    font-weight: 400;
    letter-spacing: 0.03125em;
}

.body2 {
    font-size: 0.875rem;
    line-height: 0.875rem;
    font-weight: 400;
    letter-spacing: 0.01785714285em;
}

.caption {
    font-size: 0.75rem;
    line-height: 0.75rem;
    font-weight: 400;
    letter-spacing: 0.0333333333333em;
}

.overline {
    font-size: 0.625rem;
    line-height: 0.625rem;
    font-weight: 400;
    letter-spacing: 0.15em;
}

.icon {
    display: inline-block;

    width: 24px;
    height: 24px;
    font-size: 24px;
    font-family: "Material Icons";
    line-height: 1;
    letter-spacing: initial;

    text-transform: none;
    user-select: none;
}

hr.divider {
    height: 1px;
    width: 100%;

    border: none;
    background-color: rgba(var(--color-on-surface), 12%);
}

hr.divider.vertical {
    width: 1px;
    height: 100%;
}
