:root {
    font-family: Roboto, sans-serif;
    font-size: 1rem;
    line-height: 1rem;
    font-weight: 400;
    letter-spacing: 0.03125em;

    height: 100%;
}

*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: inherit;
    font-size: inherit;

    --opacity-overlay: 0%;
    --elevation: var(--elevation-0);
    --color-overlay: var(--color-on-surface);
    --shadow: 0 0 0 0 transparent;
    box-shadow: var(--overlay-common)
            rgba(var(--color-overlay), var(--opacity-overlay)),
        var(--elevation), var(--shadow);

    transition-property: box-shadow;
    transition-duration: 200ms;
    transition-timing-function: ease-in-out;
}

.h1 {
    font-size: 6rem;
    line-height: 6rem;
    font-weight: 300;
    letter-spacing: -0.015625em;
}

.h2 {
    font-size: 3.75rem;
    line-height: 3.75rem;
    font-weight: 300;
    letter-spacing: -0.00833333333333em;
}

.h3 {
    font-size: 3rem;
    line-height: 3rem;
    font-weight: 400;
    letter-spacing: 0em;
}

.h4 {
    font-size: 2.125rem;
    line-height: 2.125rem;
    font-weight: 400;
    letter-spacing: 0.00735294117em;
}

.h5 {
    font-size: 1.5rem;
    line-height: 1.5rem;
    font-weight: 400;
    letter-spacing: 0em;
}

.h6 {
    font-size: 1.25rem;
    line-height: 1.25rem;
    font-weight: 500;
    letter-spacing: 0.0075em;
}

.subtitle1 {
    font-size: 1rem;
    line-height: 1rem;
    font-weight: 400;
    letter-spacing: 0.009375em;
}

.subtitle2 {
    font-size: 0.875rem;
    line-height: 0.875rem;
    font-weight: 500;
    letter-spacing: 0.00714285714em;
}

.body1 {
    font-size: 1rem;
    line-height: 1rem;
    font-weight: 400;
    letter-spacing: 0.03125em;
}

.body2 {
    font-size: 0.875rem;
    line-height: 0.875rem;
    font-weight: 400;
    letter-spacing: 0.01785714285em;
}

.caption {
    font-size: 0.75rem;
    line-height: 0.75rem;
    font-weight: 400;
    letter-spacing: 0.0333333333333em;
}

.overline {
    font-size: 0.625rem;
    line-height: 0.625rem;
    font-weight: 400;
    letter-spacing: 0.15em;
}

.icon {
    display: inline-block;

    width: 24px;
    height: 24px;
    font-size: 24px;
    font-family: "Material Icons";
    line-height: 1;
    letter-spacing: initial;

    text-transform: none;
    user-select: none;
}

hr.divider {
    height: 1px;

    border: none;
    background-color: rgba(var(--color-on-surface), 12%);
}

hr.divider.vertical {
    width: 1px;
}

a {
    text-decoration: none;
    color: inherit;
}

.link {
    color: rgb(var(--color-main));
    text-decoration: underline;
}

/* From https://www.a11yproject.com/posts/how-to-hide-content/ */
.visually-hidden {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}

::-webkit-scrollbar {
    width: 8px;
    height: 8px;
    border: 1px solid transparent;
}
::-webkit-scrollbar-thumb {
    --opacity: var(--opacity-medium-emphasis);

    background: rgb(var(--color-on-surface), var(--opacity));
    border-radius: 50px;
}
::-webkit-scrollbar-track {
    --opacity: 0%;

    background: rgba(var(--color-on-surface), var(--opacity));
}
::-webkit-scrollbar-track:hover {
    --opacity: var(--opacity-hover);
}
::-webkit-scrollbar-track:active {
    --opacity: var(--opacity-active);
}

@supports (overflow-y: overlay) {
    body {
        overflow-y: overlay;
    }
}
