.column.layout {
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-content: center;
    text-align: center;
    margin-inline: auto;

    width: 100%;
    min-height: 100%;
}

.small-spacing.layout {
    padding: 8px;
    gap: 8px;
}

.medium-spacing.layout {
    padding: 16px;
    gap: 16px;
}

.large-spacing.layout {
    padding: 32px;
    gap: 32px;
}

.small.column.layout {
    max-width: 480px;
}

.medium.column.layout {
    max-width: 960px;
}

.large.column.layout {
    max-width: 1440px;
}

.top-app-bar.layout {
    display: grid;
    grid-template:
        "appbar" auto
        "content" 1fr
        / auto;
    min-height: 100%;
}

.top-app-bar.layout > .appbar {
    grid-area: appbar;
    z-index: 5;
}

/* PROFILE */

.profile.layout {
    display: grid;
    grid-template:
        "avatar info" auto
        / 1fr 1fr;
}

@media screen and (max-width: 720px) {
    .profile.layout {
        grid-template:
            "avatar" auto
            "info" auto
            / 1fr;
    }

    .profile.layout > .profile-info > .header {
        text-align: center;
    }
}

.profile.layout > * {
    grid-column: 1 / -1;
}

.profile.layout > .avatar {
    grid-area: avatar;
    place-self: center;
}

.profile.layout > .button.fab {
    grid-area: avatar;
    place-self: center;
    transform: translate(calc(0.70710678 * 140px), calc(0.70710678 * 140px));
}

.profile.layout > .profile-info {
    display: grid;
    grid-area: info;
    grid-template-columns: min-content auto;

    justify-items: start;
    align-items: center;
    text-align: start;
    align-content: center;
    gap: 4px;
}

.profile.layout > .profile-info > .header {
    margin-bottom: 8px;
}

/* COMMON */

.restaurant-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    gap: 8px;
}
