.column.layout {
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-content: center;
    text-align: center;
    margin-inline: auto;

    width: 100%;
    min-height: 100%;
}

.small-spacing.layout {
    padding: 8px;
    gap: 8px;
}

.medium-spacing.layout {
    padding: 16px;
    gap: 16px;
}

.large-spacing.layout {
    padding: 32px;
    gap: 32px;
}

.small.column.layout {
    max-width: 480px;
}

.medium.column.layout {
    max-width: 960px;
}

.large.column.layout {
    max-width: 1440px;
}

.top-app-bar.layout {
    display: grid;
    grid-template:
        "appbar" auto
        "content" 1fr
        / auto;
    min-height: 100%;
}

.top-app-bar.layout > .appbar {
    grid-area: appbar;
    z-index: 5;
}

/* PROFILE */

.profile-header {
    display: grid;
    grid-template:
        "avatar" auto
        "name" auto / auto;
    place-items: center;
    gap: 8px;
}

.profile-header > .avatar {
    grid-area: avatar;
}

.profile-header > .button.fab {
    grid-area: avatar;
    transform: translate(calc(0.70710678 * 140px), calc(0.70710678 * 140px));
}

.profile-header > .title {
    grid-area: name;
}

.profile-info {
    display: flex;
    flex-direction: column;
    align-items: start;
    text-align: start;
    gap: 8px;
}

/* COMMON */

.restaurant-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    gap: 8px;
}
