/* FOR REFERENCE SHEET ONLY, DO NOT USE IN PRODUCTION */

body {
    padding: 16px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    text-align: center;

    max-width: 720px;
    margin: auto;
}

section.card {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
}

#cards > .card {
    max-width: 316px;
}

section h2 {
    width: 100%;
}

#sliders > * {
    width: 100%;
}
