span.user-data {
    display: flex;
    margin: 1em;
    padding: 1em;
    width: auto;

    border-radius: 500000px;

    color: black;

    background-color: rgb(var(--color-button));
}

.user-profile-data {
    display: grid;
}

.section {
    grid-column-start: 2;
}

.user-profile-data span.user-data {
    grid-column-start: 2;
    grid-column-end: 2;
}

.profile-pic {
    grid-column-start: 1;
    grid-column-end: 1;
}
