:root {
    --color-appbar: var(--color-main);
    --color-on-appbar: var(--color-on-main);
}

@media (prefers-color-scheme: dark) {
    :root {
        --color-appbar: var(--color-surface);
        --color-on-appbar: var(--color-on-surface);
    }
}

.appbar {
    display: grid;
    grid-template: "start title" auto / min-content auto;
    grid-auto-flow: column;
    grid-auto-columns: min-content;

    align-items: center;
    text-align: start;

    width: 100%;
    height: 56px;

    padding-inline: 16px;
    gap: 24px;

    background-color: rgb(var(--color-appbar));
    color: rgb(var(--color-on-appbar));

    --color-button: var(--color-on-appbar);
    --color-on-button: var(--color-appbar);
}

.appbar.elevated {
    --elevation: var(--elevation-4);
}

.appbar > :nth-child(2) {
    margin-left: 8px;
}

/* Account for margin in icon buttons */
.appbar > .button.icon {
    margin: -8px;
}
