:root {
    --color-appbar: var(--color-main);
    --color-on-appbar: var(--color-on-main);
}

:root[color-scheme="dark"] {
    --color-appbar: var(--color-surface);
    --color-on-appbar: var(--color-on-surface);
}

.appbar {
    position: relative;

    display: flex;
    flex-direction: row;

    align-items: center;
    text-align: start;

    width: 100%;
    height: 56px;

    padding-inline: 16px;
    /* gap: 24px; */

    background-color: rgb(var(--color-appbar));
    color: rgb(var(--color-on-appbar));

    --color-button: var(--color-on-appbar);
    --color-on-button: var(--color-appbar);

    transition-property: background, color, box-shadow;
}

.appbar.elevated {
    --elevation: var(--elevation-4);
}

.appbar.fixed {
    position: sticky;
    inset: 0;
}

.appbar > * {
    order: 3;
    flex-shrink: 0;
    margin-left: 24px;
}

.appbar > .title {
    order: 2;
    margin-right: auto;
    margin-left: 0;
}

.appbar > .start {
    order: 1;
    margin-left: 0;
}

.appbar > .start ~ .title {
    margin-left: 32px;
}

/* Account for margin in icon buttons */
.appbar > .button:is(.icon, .text) {
    margin-right: -8px;
    margin-left: 16px;
}

.appbar > .start.button.icon {
    margin-left: -8px;
}
