.button {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 36px;
    min-width: 64px;

    cursor: pointer;

    border: none;
    border-radius: 500000px;
    outline: none;

    text-transform: uppercase;
    text-decoration: none;
    font-size: 0.875rem;
    font-weight: 500;
    letter-spacing: 0.08928571428em;

    transition: box-shadow 100ms ease-in-out;
}

.button .icon {
    margin-left: -4px;
    margin-right: 8px;
}

.button.icon {
    width: 32px;
    height: 32px;

    min-width: initial;

    text-transform: none;
    font-size: 24px;
    letter-spacing: initial;
}

.button.contained {
    color: var(--color-on-primary);
    background-color: var(--color-primary);

    padding-inline: 16px;

    --elevation: var(--elevation-2);
    --overlay: var(--overlay-primary);

    box-shadow: var(--elevation), var(--overlay);
}

.button.contained:hover {
    --elevation: var(--elevation-4);
    --overlay: var(--overlay-primary-hover);
}

.button.contained:focus {
    --overlay: var(--overlay-primary-focus);
}

.button.contained:active {
    --elevation: var(--elevation-0);
    --overlay: var(--overlay-primary-active);
}

.button.outlined {
    border: solid 1px currentColor;
    padding-inline: 16px;
}

.button.text {
    padding-inline: 8px;
}

.button:is(.text, .outlined, .icon) {
    color: var(--color-primary);
    background-color: transparent;

    --overlay: var(--overlay-surface-primary);

    box-shadow: var(--overlay);
}

.button:is(.text, .outlined, .icon):hover {
    --overlay: var(--overlay-surface-primary-hover);
}

.button:is(.text, .outlined, .icon):focus {
    --overlay: var(--overlay-surface-primary-focus);
}

.button:is(.text, .outlined, .icon):active {
    --overlay: var(--overlay-surface-primary-active);
}

.button:disabled {
    color: var(--color-on-surface);
    opacity: 38%;
    cursor: initial;
    box-shadow: none;
}

.button.contained:disabled {
    background-color: rgba(var(--tcolor-on-surface), 38%);
}
