:root {
    --color-button: var(--color-main);
    --color-on-button: var(--color-on-main);
}

.button:is(.text, .outlined, .contained, .icon) {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 36px;
    min-width: 64px;

    cursor: pointer;

    border: none;
    border-radius: 500000px;
    outline: none;

    text-transform: uppercase;
    text-decoration: none;
    font-size: 0.875rem;
    font-weight: 500;
    letter-spacing: 0.08928571428em;
    user-select: none;
    white-space: nowrap;
}

.button:is(.text, .outlined, .contained) .icon {
    margin-left: -4px;
    margin-right: 8px;
}

.button.icon {
    width: 40px;
    height: 40px;

    min-width: initial;

    text-transform: none;
    font-size: 24px;
    letter-spacing: initial;
}

.button.contained {
    color: rgba(var(--color-on-button), var(--opacity-high-emphasis));
    background-color: rgb(var(--color-button));

    padding-inline: 16px;

    --elevation: var(--elevation-2);
    --color-overlay: var(--color-on-button);
}

.button.contained:hover {
    --elevation: var(--elevation-4);
}

.button.contained:active {
    --elevation: var(--elevation-0);
}

.button.outlined {
    border: solid 1px currentColor;
    padding-inline: 16px;
}

.button.text {
    padding-inline: 8px;
}

.button:is(.text, .outlined, .icon) {
    color: rgba(var(--color-button), var(--opacity-high-emphasis));
    background-color: transparent;

    --color-overlay: var(--color-button);
}

.button:is(.text, .outlined, .contained, .icon):hover {
    --opacity-overlay: var(--opacity-hover);
}

.button:is(.text, .outlined, .contained, .icon):focus {
    --opacity-overlay: var(--opacity-focus);
}

.button:is(.text, .outlined, .contained, .icon):active {
    --opacity-overlay: var(--opacity-active);
}

.button:is(.text, .outlined, .contained, .icon):disabled {
    color: rgb(var(--color-on-surface));
    opacity: var(--opacity-disabled);
    cursor: initial;
    box-shadow: none;
}

.button.contained:disabled {
    background-color: rgba(var(--color-on-surface), var(--opacity-disabled));
}
