.chip {
    display: flex;
    align-items: center;

    height: 32px;
    border-radius: 16px;
    padding-inline: 12px;

    background-color: rgba(var(--color-on-surface), 12%);

    white-space: nowrap;
    font-size: 0.875rem;
    line-height: 0.875rem;
    font-weight: 400;
    letter-spacing: 0.01785714285em;

    --color-button: var(--color-on-surface);

    position: relative;
    z-index: 1;
}

.chip > .icon {
    margin-left: -4px;
    margin-right: 8px;

    font-size: 18px;
    width: 18px;
    height: 18px;
}

.chip > .button.icon {
    margin-right: -12px;
    margin-left: 0;

    font-size: 18px;
    width: 32px;
    height: 32px;
}

.chip > .thumbnail {
    width: 24px;
    height: 24px;

    border-radius: 50%;

    margin-left: -8px;
    margin-right: 8px;
}

.chip-list {
    display: flex;
    flex-direction: row;
    overflow-x: auto;
    scroll-behavior: smooth;
    scroll-snap-type: proximity;
    gap: 16px;
}

.chip-list.wrap {
    flex-wrap: wrap;
}
