.form:not(.sectioned),
.form.sectioned > .section {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    place-content: center;

    padding: 16px;
    gap: 16px;

    grid-template-columns: repeat(3, auto);

    grid-auto-flow: row;
}

.form:not(.sectioned) > button,
.form.sectioned > .section > button {
    flex: 1;
}

.form.sectioned {
    display: grid;
    grid-template:
        "section" auto
        "error" auto / 1fr;
    overflow-x: visible;
}

.form.sectioned > .section {
    border: none;
    grid-area: section;
}

.form.sectioned > .form-error {
    grid-area: error;
    margin: 16px;
}

.form.sectioned > .section.hidden {
    pointer-events: none;
    user-select: none;
    opacity: 0%;
}

.form-error {
    display: grid;
    grid-template: auto / auto auto;

    width: 100%;
    padding: 4px;
    gap: 4px;
    border-radius: 10000px;

    text-align: start;
    align-items: center;
    justify-content: start;

    background-color: rgb(var(--color-error));
    color: rgb(var(--color-on-error));

    transition-property: color, background;
}

.form-error::before {
    content: "error";

    display: inline-block;

    width: 24px;
    height: 24px;
    font-size: 24px;
    font-family: "Material Icons";
    line-height: 1;
    letter-spacing: initial;

    text-transform: none;
    user-select: none;
}

.form-support {
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding-left: 32px;
    padding-right: 20px;

    --color-button: var(--color-on-surface);
}

fieldset.selection-list {
    border: none;

    display: flex;
    flex-direction: column;
    justify-items: start;

    width: 100%;
}

fieldset.selection-list > legend {
    margin-bottom: 8px;
}

.inline {
    flex: 1;
    width: auto;
}

.fullwidth {
    width: 100%;
}

.chip-list-edit {
    display: flex;
    flex-direction: column;
    gap: 8px;
    text-align: start;
}
