.image-input {
    display: grid;
    grid-template: 1fr / 1fr;

    cursor: pointer;

    overflow: hidden;

    transition-property: opacity;
}

.image-input.rounded {
    border-radius: 8px;
}

.image-input > * {
    grid-area: 1 / 1;
}

.image-input img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.image-input::before {
    content: "add_a_photo";
    grid-area: 1 / 1;
    display: flex;
    align-items: center;
    justify-content: center;
    order: 1;
    overflow: hidden;

    font-size: 96px;
    font-family: "Material Icons";
    line-height: 1;
    letter-spacing: initial;

    text-transform: none;
    user-select: none;

    color: rgb(var(--color-on-image-surface), var(--opacity-text));

    --color-overlay: var(--color-image-surface);
    --opacity-overlay: 0%;
    --opacity-text: 0%;

    transition-property: color, box-shadow;
}

.image-input:hover::before {
    --opacity-overlay: var(--opacity-hover);
    --opacity-text: 100%;
}

.image-input:active::before {
    --opacity-overlay: var(--opacity-active);
    --opacity-text: 100%;
}

.image-input:focus-within::before {
    --opacity-overlay: var(--opacity-focus);
    --opacity-text: 100%;
}

.image-input.disabled {
    cursor: initial;
    opacity: var(--opacity-disabled);
}

.image-input.disabled::before {
    --opacity-overlay: 0%;
    --opacity-text: 0%;
}
