.search {
    display: flex;
    justify-content: end;
    flex: 1;
    min-width: 40px;
    max-width: 480px;
    position: relative;

    --color-button: var(--color-on-surface);

    /* transition-property: width, flex; */
}

.search input[type="search"] {
    appearance: none;

    height: 40px;
    padding-left: 16px;
    padding-right: 40px;
    width: 100%;

    border-color: rgba(var(--color-on-surface), 38%);
    border-style: solid;
    border-width: 1px;
    border-radius: 100000px;

    outline: none;

    background-color: rgb(var(--color-surface));
    color: rgb(var(--color-on-surface));

    --opacity-overlay: 0%;
    --color-overlay: var(--color-on-surface);

    caret-color: rgb(var(--color-main));

    transition-property: box-shadow, background, color, border, width;
}

.search input[type="search"]:hover {
    --opacity-overlay: var(--opacity-hover);
    border-color: rgb(var(--color-on-surface));
}

.search input[type="search"]:focus {
    --opacity-overlay: var(--opacity-focus);
    border-width: 2px;
    border-color: rgb(var(--color-on-surface));
}

.search button {
    position: absolute;
    right: 0;
    z-index: 1;
}

.search button[data-filter-button] {
    right: 40px;
}

.search label {
    position: absolute;

    display: none;
    justify-content: center;
    align-items: center;

    width: 40px;
    height: 40px;

    cursor: pointer;

    border: none;
    border-radius: 500000px;
    outline: none;

    font-family: "Material Icons";
    text-transform: none;
    text-decoration: none;
    font-size: 24px;
    letter-spacing: initial;
    user-select: none;

    color: rgba(var(--color-button), var(--opacity-high-emphasis));
    background-color: transparent;

    --color-overlay: var(--color-button);

    transition-property: box-shadow, color;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
    display: none;
}

@media screen and (max-width: 720px) {
    .search:not(:focus-within) {
        flex: unset;
        margin-right: -8px;
        margin-left: 16px;

        --color-button: inherit;
    }

    .search ~ :nth-child(n) {
        transition-property: all;
    }

    .search:focus-within ~ :nth-child(n) {
        opacity: 0;
        width: 0px;
        min-width: 0px;
        margin-inline: 0px;
        padding-inline: 0px;
    }

    .search:not(:focus-within) input[type="search"] {
        width: 40px;
        border-style: none;
        background-color: transparent;
        padding-inline: 20px;
    }

    .search:not(:focus-within) .button.icon {
        display: none;
    }

    .search:not(:focus-within) label {
        display: flex;
    }
}
