.slider {
    border: none;
    display: grid;
    grid-template: "label" auto "slider" auto / auto;
    align-items: center;

    --color-slider-track: var(--color-main);
}

.slider:is(:disabled, [aria-disabled="true"]) {
    opacity: var(--opacity-disabled);
    --color-slider-track: var(--color-on-surface);
}

.slider::before {
    content: "";
    grid-area: slider;

    height: 4px;
    border-radius: 2px;
    margin-inline: 8px;

    background-color: rgba(var(--color-slider-track), var(--opacity-disabled));
}

.slider::after {
    content: "";
    grid-area: slider;

    height: 6px;
    border-radius: 3px;
    margin-inline: calc(
        7px +
            (
                (100% - 14px) / (var(--slider-max) - var(--slider-min)) *
                    (var(--slider-a) - var(--slider-min))
            )
    );
    width: calc(
        (100% - 14px) / (var(--slider-max) - var(--slider-min)) *
            (
                (
                    var(--slider-b) - var(--slider-min) -
                        (var(--slider-a) - var(--slider-min))
                )
            )
    );

    background-color: rgba(var(--color-slider-track));
}

.slider > input[type="range"] {
    grid-area: slider;

    appearance: none;
    -webkit-appearance: none;
    cursor: pointer;
    pointer-events: none;

    height: 48px;
    position: relative;

    background: transparent;
    outline: none;

    --color-thumb: rgb(var(--color-main));

    box-shadow: none;
}

.slider > input[type="range"]::-webkit-slider-thumb {
    appearance: none;
    pointer-events: auto;

    height: 20px;
    width: 20px;
    border-radius: 50%;
    border: none;

    outline: solid rgba(var(--color-main), var(--opacity-overlay)) 24px;
    outline-offset: -10px;
    background: var(--color-thumb);
    box-shadow: var(--elevation-2);

    /* Chrome is dumb */
    margin-top: -0.5px;

    transition: outline;
    transition-duration: 200ms;
    transition-timing-function: ease-in-out;
}
.slider > input[type="range"]::-moz-range-thumb {
    appearance: none;
    pointer-events: auto;

    height: 20px;
    width: 20px;
    border-radius: 50%;
    border: none;

    outline: solid rgba(var(--color-main), var(--opacity-overlay)) 24px;
    outline-offset: -10px;
    background: var(--color-thumb);
    box-shadow: var(--elevation-2);

    transition: outline;
    transition-duration: 200ms;
    transition-timing-function: ease-in-out;
}

.slider > input[type="range"]:hover {
    --opacity-overlay: var(--opacity-hover);
}

.slider > input[type="range"]:focus {
    --opacity-overlay: var(--opacity-focus);
}

.slider > input[type="range"]:active {
    --opacity-overlay: var(--opacity-active);
}

.slider > input[type="range"]:disabled {
    --opacity-overlay: 0;
    --color-thumb: rgb(var(--color-on-surface));

    cursor: initial;
}
