:is(.textfield, .select) {
    position: relative;

    justify-self: stretch;
    width: 100%;

    font-size: 1rem;
}

.select::after {
    content: "arrow_drop_down";

    display: block;
    position: absolute;
    right: 12px;
    top: 50%;
    transform: translateY(-50%);

    width: 24px;
    height: 24px;
    font-size: 24px;
    font-family: "Material Icons";
    line-height: 1;
    letter-spacing: initial;

    pointer-events: none;

    transition-property: transform;
    transition-duration: 200ms;
    transition-timing-function: ease-in-out;
}

/* 
I'd like this style to apply only to open selects,
but that is impossible outside chromium
*/
.select:focus-within:after {
    transform: translateY(-50%) rotate(180deg);
}

:is(.textfield, .select) label {
    position: absolute;
    left: 16px;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none;

    transition-property: top, transform, font-size, color;
    transition-duration: 200ms;
    transition-timing-function: ease-in-out;
}

:is(.textfield input, .select select):is(:not(:placeholder-shown), :focus)
    ~ label {
    top: 22px;
    font-size: 0.75rem;
    transform: translateY(-100%);
}

:is(.textfield input, .select select):focus ~ label {
    color: rgb(var(--color-main));
}

:is(.textfield input, .select select) {
    appearance: none;

    height: 48px;
    padding: 20px 16px 4px 16px;
    width: 100%;

    border-color: rgb(var(--color-on-surface));
    border-style: none;
    border-bottom-style: solid;
    border-width: 1px;
    border-radius: 8px 8px 0 0;

    outline: none;

    background-color: rgba(var(--color-on-surface), 8%);

    caret-color: rgb(var(--color-main));

    transition: border-width, border-color, background-color;
    transition-duration: 200ms;
    transition-timing-function: ease-in-out;
}

.textfield input::placeholder {
    opacity: 0;

    transition-property: opacity;
    transition-duration: 200ms;
    transition-timing-function: ease-in-out;
}

/* Only works on chromium, but at least it's something */
.textfield input::-webkit-inner-spin-button {
    width: 24px;
    height: 24px;
    margin-top: -8px;
}

:is(.textfield input, .select select):focus {
    border-color: rgb(var(--color-main));
    border-width: 2px;
}

.textfield input:focus::placeholder {
    opacity: initial;
}

:is(.textfield input, .select select):hover {
    background-color: rgba(var(--color-on-surface), 12%);
}

:is(.textfield input, .select select):disabled {
    opacity: var(--opacity-disabled);
    background-color: rgba(var(--color-on-surface), 8%);
}

:is(.textfield input, .select select):disabled ~ label {
    opacity: var(--opacity-disabled);
}
