.button.icon.toggle {
    display: grid;
    --color-button: var(--color-on-surface);
}

.button.icon.toggle[data-toggle-state="on"] {
    --color-button: var(--color-main);
}

.button.icon.toggle::before {
    grid-area: 1/1;
    content: attr(data-off-icon);
}

.button.icon.toggle::after {
    grid-area: 1/1;
    content: attr(data-on-icon);
    transform: scale(0%);
    transition-property: transform;
}

.button.icon.toggle[data-toggle-state="on"]::after {
    transform: scale(100%);
}
