/* FOR REFERENCE SHEET ONLY, DO NOT USE IN PRODUCTION */

section.card {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
}

#cards > .card {
    max-width: 316px;
}

section h2 {
    width: 100%;
}

#sliders > * {
    width: 100%;
}
